<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/layui/css/layui.css">
	<script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Admin/js/main.js"></script>
</head>
<body>
   <ul class="layui-nav layui-nav-tree layui-nav-side">
     <li class="layui-nav-item layui-nav-itemed">
       <a href="javascript:;">审核信息</a>
       <dl class="layui-nav-child">
         <dd><a href="__MODULE__/Appm/appmcheck" target="right">审核预约信息</a></dd>
         <dd><a href="__MODULE__/Appm/checklist" target="right">修改审核状态</a></dd>
       </dl>
     </li>
   </ul>
</body>
</html>