<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管理中心</title>
</head>
   <frameset border=0 framespacing=0 rows="60, *" frameborder=0>
       <frame name=head src="__URL__/head/name/{$name}" frameborder=0 noresize scrolling=no>
           <frameset cols="200, *">
               <frame name=left src="__URL__/left/name/{$name}" frameborder=0 noresize scrolling="no" />
               <frame name=right src="__URL__/right" frameborder=0 noresize scrolling=yes />
           </frameset>
   </frameset>
</html>